body {
    font-family: arial;
    font-size: 12px;
    /*word-break: break-all;*/
    /*word-wrap: break-word;*/
}

.container {
    position:relative;
    overflow:auto;
    display:inline-block;
    float:left;
    width: 800px;
}

table {
    border-collapse: collapse;
    border:0;
    float:left;
    margin-left: -100px;
    /*border-spacing: 2px;*/
    border-spacing: 0px;
    position:relative;
}

td {
    padding: 0px;
    height: 40px;
    /*padding:5px;*/
    width: 150px;
    background-color: #ffffff;
    /*display:block-table;*/
    border-bottom: 1px solid #d3d3d3 ;
}
td td {
    border-bottom: none;
}
td td span {
    padding: 3px;
}

/*
tr td {
    background-color: #000;
};*/

.time {
    background-color: #fff;
    text-align:right;
    padding-right: 5px;
    border-bottom: none;
}
    .time span {
        top: -20px;
        position:relative;
    }

#control_panel {
    width: 500px;
    position:relative;
    float:left;
    display:inline-block;
/*    margin-left: 100px;
*/}